body{
    background-color: black;
    background-image: url("fon2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
h1{
    font-size: 24;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
h2{
    text-align: right;
    margin-right: 42%;
}
p{
    background-color: yellow;
    text-align: left;
    float: left;
    border-style: solid;
    border-color: red;
    border-width: medium;
    outline: solid medium blue;

}